@font-face {
	font-family: "Bio";
	src:url("BioRhyme.ttf");
}

body {
	font-family: "Bio";
	
}

#header {
	height: 80vh;
	background-repeat: no-repeat;
	background-size: 100% 100%;	/*Indico el area del contenedor en la que se mostrara la imagen*/
	background-image: url("imgs/Javascript.png");
}

.middle {
	background-color:rgba(85, 133, 100,.6);
}

.oxford {
	background-color:rgba(40,53,58,1);
	color: #FFFFFF;
}

.contactIcon {
	height: 40px;
	width:40px;
	float: right;
	padding:5px;
}

main {
	margin-bottom: 400px !important;
	margin-top: 321px !important; 
}


@media (max-width: 767.98px){
	#header {
		height:58vh;
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
}
